<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'reinit.connexion' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fontEcran">
    <form [formGroup]="userForm" (ngSubmit)="updatePass()" >
      
      <ion-avatar slot="start" >
        <img src="../../assets/autone.jpg">
      </ion-avatar>
     
      
      <ion-item >
        <ion-label color="dark" position='floating'>{{ 'reinit.email' | translate }}</ion-label>
        <ion-input type="email" formControlName="email" placeholder="Email"  ></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validationUserMessage.email">
            <div class="errors" *ngIf="userForm.get('email').hasError(validation.type) && userForm.get('email').dirty ">
              {{validation.message}}
            </div>
        </ng-container>
      </div>
      
      <ion-item lines="none">
        <ion-button color="dark" slot="end" fill="clear">{{ 'reinit.description' | translate }} :) .</ion-button>
      </ion-item>
      <ion-button color="oldrichColor" type="submit" [disabled]="!userForm.valid" color="dark"  expand="block"  shape="round" >{{ 'reinit.button1' | translate }}</ion-button>
      <br>
      <ion-button color="oldrichColor" expand="block" shape="round" (click)="Annuler()" >{{ 'reinit.button2' | translate }}</ion-button>
    </form>
  </div>
</ion-content>

